body{
    font-family:"Bahnschrift SemiLight Condensed", Dubai Light;
    text-align: center;
    background-color: #d5bdf9;
}

img{
    border: 8px solid #142b3a ;
    border-radius: 10%;
    width: 250px;

}

ul {
    display: inline-block;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
    list-style-type: "🐾 ";
    

}

h1{
    text-shadow: 1px 2px 2px #142b3a;
}

a{
    color: #6a3d77;
    text-decoration-style: wavy;
    font-weight: bold;
}

a:hover{
    color: #0f5e72;
}

.pandaFavorites{
    padding-top: 40px;
    padding-bottom: 0;
}

.explain{
    text-align: justify;
    margin-left:20px;  
    margin-right:20px;
}

