body{
    background-color: rgb(0, 0, 0);
    color: #7a7676;

}
img{
    max-width: 400px;
    border-radius: 12px;
    
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    box-shadow:0 0 20px#fffafa;
    border-radius: 12px;
}

.out{
    margin-top: 40px;
    padding: 20px;
}

.text{
    margin-left: 10px;
}

.text h1{
    color: #666060;;
}

.text p{
    line-height: 1.6em;
}

.text a{
    color: #978b8b;
    text-decoration-style: dashed;
}

@media (max-width : 600px) {
    .container{
         box-sizing: border-box;
        flex-direction: column-reverse;

    }

   .container img{
        width: 300px;
    }

   .img{
    display: block;
    margin: auto;
    }

   .text{
    text-align: center;
    }
}
