img{
    width:290px; 
    border-radius: 19px;
    
} 

li{
     padding-bottom: 15px; 
} 

h1{
    
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body{
     background-image:url('../html/images/te.jpg');
     background-attachment: fixed;  
     margin: 0; 
     padding: 10px; 
     background-color: rgb(255, 255, 255); 
     color: #bec8ff; 
     
} 

a{
    color: #bccbe6;

}
.container{ 
   
    text-align: center; 
    width: 100%; 
    font-family: Pompiere;
    font-size: 25px;
    display: flex; 
    justify-content: space-around; 
    align-items:stretch; 
}

.left{ 
    padding: 20px; 
    background-repeat: no-repeat;
    background-size: 100%;
}

.right{
    
    padding: 10px; 
    box-shadow: 0 0 20px rgb(21, 7, 53); 
    border-radius: 15px; 
}


@media (max-width: 600px) {

    .container { 
        flex-direction: column; 
        text-align: center; 
    } 

    .right{ 
        margin: auto; 
        width: 60%; 
    } 
}