
body{
    font-family:inherit;
    display: flex;
    justify-content: center;
}

#container{
    margin: 50px 50px;
    padding: 40px 40px;
    border: 2px dashed rgb(202, 162, 125);
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 500px;
    max-width: 80%;
    
}

#choices button{
    width: 100%;
    color: rgb(115, 165, 208);
    margin: 5px;
    
}

#choices button:hover{
    cursor: pointer;
    transform: scale(1.19);
    transition: 0.5s ease;
}

.selectedBtn{
    background-color: rgb(172, 150, 117);
}

#submit-btn:hover{
    cursor: pointer;
    
}
#submit-btn:active{
    background-color: #53473b;
}

.score{
    text-align: center;
    color: rgb(166, 146, 115);
}

li{
    border: solid rgb(166, 140, 116);
    padding: 7px;
    margin: 7px;
    list-style: none;
    border-radius: 13px;
    background-color: #5c534d;
    color: #ffffff;
}

button{
    border-radius: 12px;
    height: 40px;
    border: 2px solid rgb(202, 162, 125);
    background-color: rgb(240, 241, 210);
    color: rgb(202, 162, 125);
    font-weight: bold;
    margin-top: 10px;
 
}

h6{
    text-align: center;
    padding-bottom: -3;
    margin-bottom: -5px;
}
.wrong-style{
    color: #d77171;
    font-weight: bold;
}
.correct-style{
    color: #459569;
    font-weight: bold;
}
